$bg:#fff;
$sidebar:#300606d8;
$activeColor:rgba(245, 18, 18, 0.678);

.nav{
    width: 100%;
    background-color: $bg;
}

.item i.icon {
    color:#fff;
}

.menu-item.is-active {
    i.icon {
        color:red
    }  
}

.el-submenu__title  .el-submenu__title  {
    padding-left: 0px !important;
}

.el-menu-item i,.el-submenu i {
    color:inherit
}

:export {
    bg:$bg;
    sideBar:$sidebar;
    activeColor:$activeColor;
}